<div class="container">
<body>
<div class="jumbotron" style="margin-top: 20px">
    <!-- Successgful Registering Notification -->
    <span id ="successRegister"> </span>
    <h2>Register</h2>

  <!-- User Input | Register -->
   <form role="form" ng-submit="registerCtrl.register()">
    <div class="row">
      <div class="input-group" id="register">
        <div>
          <label for="text">Full Name</label>
          <input type="text"  ng-model="registerCtrl.formData.full_name" placeholder="John Smith" class="form-control">
        </div>
        <div>
          <label for="text">Username</label>
          <input type="text"  ng-model="registerCtrl.formData.username" placeholder="johnapplepie" class="form-control">
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email"  ng-model="registerCtrl.formData.email" placeholder="example@email.com" class="form-control">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" ng-model="registerCtrl.formData.password" placeholder="password" class="form-control">
        </div>
        <div>
          <label for="text">Bio</label>
          <input type="text"  ng-model="registerCtrl.formData.bio" placeholder="I like apple pies and crossiants" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" style="margin-top: 10px" value="Register">
        <a href="/#/login" class="btn btn-primary" style="margin-top: 10px; margin-left: 10px;"> Back </a>
      </div>
    </div>
  </form>
</body>
</div>
