.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.input-item{
  float: left;
  width: 80%;
}

#notification {
  display: none;
  width: 80%;
  color: red;
  margin: 2px;
}

#registerHeader{
  margin-top: 20px;
}
#successRegister{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-weight: bold;
  display: none;
  width: 80%;
  margin: 2px;
}

#navButton{
  margin-top: 10px;
}

#login-button{
  margin-top: 10px;
}

#board-title{
  float:left;
  width: 70%;
  background: #7BB9C7;
  padding: 10px;
  text-align: center;
}

#loginpage{
  margin-top: 10px;
}

#board{
  padding:5px 10px; 
  cursor: move;
}


#boardbox{
  margin-top: 10px;
  padding-bottom: 10px;
  padding:5px 10px; 
  cursor: move;
}
#listbox{
  border: 2px solid #7BB9C7; 
  background-color: #7BB9C7; 
  margin: 20px;
  padding: 20px;
}

#itembox{
  max-width: 230px; 
  float: right;
  /*margin-top: 10px;*/
}

#registerButton{
  margin-top: 10px
}

#backButton{
  margin-top: 10px;

}

#cancelButton{
  margin-top: 10px; 
  margin-left: 3px;
  border: 2px solid;
}

#logoutButton{
  margin-top: 10px;

}

#editDeleteButton{
  padding-bottom: 10px;
}



