.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.input-item{
  float: left;
  width: 80%;
}

#notification {
  display: none;
  width: 80%;
  color: red;
  margin: 2px;
  /*border: blue solid .25em;*/
}
#successRegister{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-weight: bold;
  display: none;
  width: 80%;
  margin: 2px;
}

.login{
  max-width: 400px;
}

#login-button{
  margin-top: 10px;
}

#board-title{
  float:left;
  width: 70%;
}

#loginpage{
  margin-top: 10px;
}

#board{
  padding:5px 10px; 
  cursor: move;
}




