<!-- <div class="container"> -->
<!-- <a href="/#/boards" class="btn btn-primary" style="margin-top: 10px"> Boards </a> -->
<!-- <a href="/#/login" class="btn btn-primary" style="margin-top: 10px"> Logout </a>  -->

  <!-- <h2>{{itemCtrl.list_title}}</h2> -->

 <!-- User Notification if any error occurs-->
  <!-- <span id ="notification"> </span> -->
  
  <!-- Todos Input | Create Item -->
   <!-- <form role="form" ng-submit="itemCtrl.createItem()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="itemCtrl.formData.item_title" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
   -->
  <!-- Todos Input | Show items, delete and edit an item --><!-- 
  <div ui-sortable ng-model="itemCtrl.items">
  <p class="form-group" ng-repeat="item in itemCtrl.items" style="padding:5px 10px; cursor: move;">
    <input type="text" ng-model="item.item_title" class="form-control" style="float:left; width: 80%;">

    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="itemCtrl.removeItem(item._id)" aria-label="Remove">X</button>

      <button class="btn btn-primary" ng-click="itemCtrl.editItem(item._id, item.item_title)" aria-label="Edit">Edit</button>
    </span>
  </p>
  </div> 
</div>

 -->