<div class="container">

  <h2>Login</h2>

  <!-- User Input | Register -->
   <form role="form" ng-submit="loginCtrl.login()">
    <div class="row">
      <div class="input-group" id="login" style="max-width:400px">
        <div>
          <label for="email">Email</label>
          <input type="email"  ng-model="loginCtrl.email" placeholder="example@email.com" class="form-control">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" ng-model="loginCtrl.password" placeholder="password" class="form-control">
          <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" style="margin-top: 10px" value="Login">
          </span>
        </div>
      </div>
    </div>
  </form>
  <a href="/#/register" style="margin-top: 10px"> Not a member? Click here to create an account! </a>
</div>
