<div class="container">
<a href="/#/boards" class="btn btn-primary" style="margin-top: 10px"> Boards </a> 
<a href="/#/login" class="btn btn-primary" style="margin-top: 10px"> Logout </a> 

  <h3> Your Boards: </h3>

  <!-- Create Board -->
   <form role="form" ng-submit="boardCtrl.createBoard()" style="max-width: 50%">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="boardCtrl.formData.title" placeholder="New Board" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  
  <!-- Boards Input-->
  <div ui-sortable ng-model="boardCtrl.boards" style="max-width: 50%">
  <p class="form-group" ng-repeat="board in boardCtrl.boards" style="padding:5px 10px; cursor: move;">
    <input type="text" ng-model="board.title" class="form-control" style="float:left; width: 70%;">

    <!-- Delete Board -->
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="boardCtrl.removeBoard(board._id)" aria-label="Remove">X</button>

    <!-- Edit Board --> 
      <a class="btn btn-primary" ng-click="boardCtrl.editBoard(board._id, board.title)" aria-label="Edit">Edit</a>

    <!-- View Single Board w/ its items || {{splices variables into string}} -->
         <a href="/#/lists?board_title={{board.title}}&board_id={{board._id}}" class="btn btn-info"aria-label="View">View Board</a>
    </span>
  </p>
  </div> 
</div>

